#layout {
  position: relative;
  z-index: 1;
}
#modal {
  display: none;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgb(200, 200, 200, 0.8);
}
#widget-container {
  position: absolute;
  left: 50%;
  top: 10%;
}
#widget {
  position: relative;
  left: -50%;
  background: white;
  min-width: 100px;
  min-height: 100px;
  border: 1px black solid;
}
#okta-sign-in {
  margin: 0 !important;
}

.flex-row {
  flex-direction: row;
  display: flex;
}

.box {
  border: 1px solid darkgray;
  padding: 10px;
  margin: 10px;
  max-width: 700px;
  overflow-wrap: break-word;
}

input[type=text] {
  width: 600px;
}

label,
input,
select {
  font-size: larger;
}

label {
  margin-right: 10px;
}
a {
  padding: 4px;
  margin: 4px;
  display: inline-block;
  background-color: #eeeeee;
  border: 1px #333 solid;
}
a:active, a.clicked {
  background-color: green;
  color: white;
}