<!DOCTYPE html>
<html>
  <head>
    {{>head}}
  </head>
  <body id="samples">
    <div id="registration" class="ui center aligned relaxed grid">
      <div class="row">
        <div class="ui header">
          <h2>{{title}}</h2>
        </div>
      </div>

      <div class="row">
        <p>Please check your email and enter the code below</p>
      </div>

      <div class="row">
        {{>errors}}
      </div>

      <div class="row">
        <form class="ui large form" action="{{action}}" method="POST">
          <div class="field">
            <div class="ui labeled input">
              <div class="ui label">
                Enter Code
              </div>
              <input type="text" name="verificationCode" required />
            </div>
          </div>
          <button class="ui fluid large primary submit button" type="submit">
            Verify
          </button>
        </form>
      </div>

      {{>cancel}}

    </div>
  </body>
</html>
