<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body id="samples">

    {{>menu}}

    <div id="content" class="ui container padded grid relaxed">
      <div id="doc" class="column eight wide">
        <div class="doc-overview text container">

          <h2 class="ui dividing header" data-se="overview-doc-header">
            Direct Auth + Express JS Example
          </h2>

          {{^isLoggedIn}}
            <p>Hello!</p>
            <p>If you're viewing this page then you have successfully configured this example server.  Your server configuration is listed on the right.</p>
            <p>
              This example shows you how to use the <code>Direct Auth</code> convenience methods from <a href="https://github.com/okta/okta-auth-js">Okta Auth JS SDK</a> to implement <code>Direct Auth</code> flows.
            </p>
          {{/isLoggedIn}}

          {{#isLoggedIn}}
            <p>Welcome back, {{userinfo.name}}!</p>
            <p>You have successfully authenticated against your Okta org, and have been redirected back to this application.  Here are some cool things to know:</p>
            <ul>
              <li>A local cookie session has been created for you, to persist your authentication.</li>
              <li>The session contains the information retrieved from the <a href="https://developer.okta.com/docs/api/resources/oidc#get-user-information">User Info Endpoint</a> of the configured issuser. This information is automatically persisted for you, and can be read from <code>req.userContext.userinfo</code></li>
              <li>Visit the <a href="/profile">My Profile</a> page in this application to see an example of using this data.</li>
            </ul>
            <p></p>
          {{/isLoggedIn}}

          {{^isLoggedIn}}
            <h3>Available flows in the sample:</h3>
            <div>
            <ul>
              <li><a id="authenticate-password" href="/login/basic">Login with Username and Password</a></li>
              <li><a href="/login/with-authenticators">Login with authenticators</a></li>
              <li><a href="/login/with-widget">Self hosted widget</a></li>
              <li><a href="/login/with-idp">Login using an external identity provider</a></li>
              <li><a href="/signup">Self service registration</a></li>
              <li><a href="/recover-password">Password Recovery</a></li>
            </ul>
            </div>
          {{/isLoggedIn}}
        </div>
      </div>

      {{>server-config}}

    </div>
  </body>
</html>
