<!DOCTYPE html>
<html>
  <head>
    {{>head}}
  </head>
  <body id="samples">
    <div class="okta-sign-in-form ui center aligned relaxed grid">
      <div class="row">
        <div class="ui header">
          <h2>Self Service Registration</h2>
        </div>
      </div>

      <div class="row">
        {{>errors}}
      </div>

      <div class="row">
        <form class="ui large form" action="/signup" method="POST">
          <div class="field">
            <div class="ui labeled input">
              <div class="ui label">
                First Name
              </div>
              <input type="text" name="firstName" required />
            </div>
          </div>
          <div class="field">
            <div class="ui labeled input">
              <div class="ui label">
                Last Name
              </div>
              <input type="text" name="lastName" required />
            </div>
          </div>
          <div class="field">
            <div class="ui labeled input">
              <div class="ui label">
                Email
              </div>
              <input type="email" name="email" required />
            </div>
          </div>
          <button class="ui fluid large primary submit button" type="submit">
            Sign Up
          </button>
        </form>
      </div>

      <div class="ui row grid">
        <div class="ui messages row">
          Already have an account? &nbsp; <a href="/login">Sign In</a>
        </div>
      </div>

    </div>
  </body>
</html>
