.DS_Store
build
target
node_modules
build2/reports/*
!build2/reports/e2e
build2/reports/e2e/*
!build2/reports/e2e/.gitkeep
test/SpecRunner.html
npm-debug.log
testenv
testenv.yml
junit.xml
junit-results.xml
yarn-error.*
coverage
dist
.bacon.env
scripts/dockolith

!.gitkeep
