<!-- app styles -->
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
  /* margin can cause issues in e2e tests, when the elements move slightly */
  /*body, hr, pre {
    margin: 0;
  }
  div {
    padding: 4px;
  }
  input {
    margin-bottom: 10px;
  }
  input[type=text] {
    width: 600px;
  }
  input[type=submit] {
    background: #007dc1;
    color: white;
  }*/


  #nav {
    background: #eee;
  }

  #error {
    color: red;
  }

  #mfa-required {
    padding: 20px;
  }

  .header {
    font-weight: bold;
    border-bottom: 1px #ccc solid;
  }

  .footer {
    line-height: 40px;
  }

  .panel {
    border: 1px #ccc solid;
    padding: 10px;
    margin: 10px;
  }

  .scroll-container {
    overflow: scroll;
  }
</style>
