<!DOCTYPE html>
<html>
  <head>
    {{>head}}
  </head>
  <body id="samples">
  
    {{>menu}}

    <div class="okta-sign-in-form ui center aligned relaxed grid">
      <div class="row">
        <div id="page-title-header" class="ui header">
          <h2>{{title}}</h2>
        </div>
      </div>

      <div class="row">
        {{>formMessages}}
      </div>

      <div class="row">
        <form id="challenge-authenticator-form" class="ui large form" action="{{action}}" method="POST">
          <div class="field">
            <div class="ui labeled input">
              <div class="ui label">
                Enter Code
              </div>
              {{#input}}
                <input id="authenticator-code-input" type="{{type}}" name="{{name}}" required />
              {{/input}}
            </div>
          </div>
          <button id="submit-button" class="ui fluid large primary submit button" type="submit">
            Verify
          </button>
        </form>
      </div>
      {{#canResend}}
        <form class="ui form" action="{{resendAction}}" method="POST">
          <button id="skip-button" class="ui fluid submit button" type="submit">
            Resend
          </button>
        </form>
      {{/canResend}}
      {{>cancel}}

    </div>
  </body>
</html>
