<!DOCTYPE html>
<html>
  <head>
    {{>head}}
    <script src="/assets/js/poll.js"></script>
  </head>
  <body id="samples">
  
    {{>menu}}

    <div class="okta-sign-in-form ui center aligned relaxed grid">
      <div class="row">
        <div id="page-title-header" class="ui header">
          <h2>{{title}}</h2>
        </div>
      </div>
      {{>errors}}

      <div class="row">
        {{>formMessages}}
      </div>
      {{#message}}
      <div class="row">
        <div class="ui positive message">
        {{message}}
        </div>
      </div>
      {{/message}}
      {{#canResend}}
        <form id="resend-code-form" class="ui form" action="{{resendAction}}" method="POST">
          <button id="resend-button" class="ui fluid submit button" type="submit">
            Resend
          </button>
        </form>
      {{/canResend}}

      <div class="row">
      {{>cancel}}
      </div>
    </div>
    {{#poll.required}}
      <script type="text/javascript">
        poll('{{{action}}}', {{poll.refresh}});
      </script>
    {{/poll.required}}
  </body>
</html>
