<!DOCTYPE html>
<html>
  <head>
    {{>head}}
    <script src="/assets/js/poll.js"></script>
  </head>
  <body id="samples">
  
    {{>menu}}

    <div class="okta-sign-in-form ui center aligned relaxed grid">
      <div class="row">
        <div id="page-title-header" class="ui header">
          <h2>{{title}}</h2>
        </div>
      </div>
      {{>errors}}

      <div class="row">
        {{>formMessages}}
      </div>

      {{#contextualData}}
        <div class="ui segments">
          <div class="ui segment">
            {{#contextualData.qrcode}}
              <div class="ui fluid image">
                <img id="authenticator-qr-code" src="{{contextualData.qrcode.href}}" />
              </div>
            {{/contextualData.qrcode}}
          </div>
        </div>
      {{/contextualData}}
      <div class="row">
      {{#nextStep}}
        <form id="select-channel-form" action="{{nextStepAction}}" method="POST">
          <input type="hidden" name="nextStep" value="{{nextStep}}"/>
          <button id="submit-button" class="ui fluid primary submit button" type="submit">Get Link</button>
        </form>
      {{/nextStep}}
      </div>
      <div class="row">
      {{>cancel}}
      </div>
    </div>
    {{#poll.required}}
      <script type="text/javascript">
        poll('{{{action}}}', {{poll.refresh}});
      </script>
    {{/poll.required}}
  </body>
</html>
