<!DOCTYPE html>
<html>
  <head>
    {{>head}}
  </head>
  <body id="samples">
  
    {{>menu}}

    <div class="okta-sign-in-form ui center aligned relaxed grid">
      <div class="row">
        <div id="page-title-header" class="ui header">
          <h2>{{title}}</h2>
        </div>
      </div>

      <div class="row">
        {{>formMessages}}
      </div>

      {{#contextualData}}
        <div class="ui segments">
          <div class="ui segment">
            {{#contextualData.qrcode}}
              <div class="ui fluid image">
                <img id="authenticator-qr-code" src="{{contextualData.qrcode.href}}" />
              </div>
            {{/contextualData.qrcode}}
          </div>
        </div>
        
      {{/contextualData}}
      <div class="row">
      {{>cancel}}
      </div>
    </div>
    {{#pollForResult.refresh}}
      <script type="text/javascript">
        function poll(refresh) {
          setTimeout(function () {
            fetch('{{{action}}}', {
              method: 'POST'
            }).then(response => {
              if (response.ok) {
                return response.json();
              } else {
                console.error('Poll request failed: ', response.statusText);
              }
            })
            .then(nextStep => {
              if (nextStep.pollForResult) {
                poll(nextStep.pollForResult.refresh);
              } else {
                window.location.href = nextStep.nextRoute
              }
            });
          }, refresh)
        }
        poll({{pollForResult.refresh}});
      </script>
    {{/pollForResult.refresh}}
  </body>
</html>
