<!DOCTYPE html>
<html>
  <head>
    {{>head}}
  </head>
  <body id="samples">
    {{>menu}}

    <div class="okta-sign-in-form ui center aligned relaxed grid">
      <div class="row">
        <div id="page-title-header" class="ui header">
          <h2>{{title}}</h2>
        </div>
      </div>

      <div class="row">
        {{>formMessages}}
      </div>

      <div class="row">
        <form id="password-reset-form" class="ui large form" action="{{action}}" method="POST">
          <div class="field">
            <div class="ui labeled input">
              <div class="ui label">
                Enter password
              </div>
              <input id="password" type="password" name="password" required />
            </div>
          </div>
          <div class="field">
            <div class="ui labeled input">
              <div class="ui label">
                Re-enter password
              </div>
              <input id="confirm-password" type="password" name="confirmPassword" required />
            </div>
          </div>
          <button id="submit-button" class="ui fluid large primary submit button" type="submit">
            Next
          </button>
        </form>
      </div>

      {{>cancel}}
      
    </div>
  </body>
</html>
