<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body id="samples">

    {{>menu}}

    <div id="content" class="ui padded grid relaxed">
      <div id="doc" class="column eight wide">
        <div class="doc-overview">

        </div>

        {{>errors}}

        {{^errors}}
          <table id="profile-table" class="ui table compact collapsing">
            <thead>
              <tr>
                <th>Claim</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              {{#attributes}}
                <tr>
                  <td>{{0}}</td>
                  <td id="claim-{{0}}">{{1}}</td>
                </tr>
              {{/attributes}}
            </tbody>
          </table>
        {{/errors}}
      </div>

      {{>server-config}}

    </div>
  </body>
</html>
