<!DOCTYPE html>
<html>
  <head>
    {{>head}}
  </head>
  <body id="samples">
  
    {{>menu}}

    <div class="okta-sign-in-form ui center aligned relaxed grid">
      <div class="row">
        <div id="page-title-header" class="ui header">
          <h2>{{title}}</h2>
        </div>
      </div>

      <div class="row">
        {{>formMessages}}
      </div>

      <div class="row">
        <form id="verify-form" class="ui large form" action="{{action}}" method="POST">
          <div class="field">
            <div class="default text">Please choose the method for this factor</div>
            <select id="phone-authenticator-method-options" class="ui selection dropdown" name="methodType">
              {{#options}}
                <option value="{{value}}">{{label}}</option>
              {{/options}}
            </select>
          </div>
          <button id="submit-button" class="ui fluid large primary submit button" type="submit">
            Next
          </button>
        </form>
      </div>

      {{>cancel}}

    </div>
  </body>
</html>
