* {
  box-sizing: border-box;
}

#layout {
  position: relative;
  z-index: 1;
}

#tokens-dump, #config-dump {
  line-height: 24px;
}

#form-content {
  flex-grow: 1
}

#modal {
  display: none;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgb(200, 200, 200, 0.8);
}
#widget-container {
  position: absolute;
  left: 50%;
  top: 10%;
}
#widget {
  position: relative;
  left: -50%;
  background: white;
  min-width: 100px;
  min-height: 100px;
  border: 1px black solid;
}
#okta-sign-in, hr, ul {
  margin: 0 !important;
}

.flex-row {
  flex-direction: row;
  display: flex;
}

.box {
  border: 1px solid darkgray;
  padding: 10px;
  overflow-wrap: break-word;
}

.actions {
  max-width: 500px;
}

input[type=text] {
  width: 100%;
  max-width: 600px;
}

label,
input,
select {
  font-size: larger;
}

label {
  color: #333;
}
.pure-menu-link {
  color: #000;
}
a, .link {
  padding: 4px;
  display: inline-block;
  background-color: #eeeeee;
  color: #000;
  border: 1px #333 solid;
  font-size: 16px;
  cursor: pointer;
}
a:active, a.clicked, .pure-menu-link:hover {
  background-color: green;
  color: white;
}

.selected {
  font-weight: bold;
}

.config-link {
  font-size: 24px;
  text-decoration: none;
}

.box.nav {
  display: flex;
  line-height: 30px;
  height: 60px;
}
.box.nav .link, .box.nav a {
  margin-right: 10px;
}

.hidden {
  display: none;
}
